
@model List<DekkOnlineMVC.Models.Products>





@Html.DevExpress().CardView(settings =>
{
    settings.Name = "HeadphoneCards";
    settings.CallbackRouteValues = new { Controller = "Dekk", Action = "ProductsPartial" };
    settings.Width = Unit.Percentage(100);
    settings.KeyFieldName = "Id";
    settings.EnableCardsCache = false;



    settings.Settings.VerticalScrollableHeight = 600;
    settings.SettingsPager.SettingsTableLayout.ColumnCount = ViewBag.IsCardView ? 2 : 1;
    settings.CardLayoutProperties.ColCount = ViewBag.IsCardView ? 1 : 2;

    settings.SettingsPager.Mode = GridViewPagerMode.EndlessPaging;
    settings.SettingsPager.EndlessPagingMode = DevExpress.Web.CardViewEndlessPagingMode.OnScroll;
    settings.Settings.VerticalScrollBarMode = ScrollBarMode.Hidden;
    settings.ControlStyle.CssClass = "cardViewProducts";



    //settings.Styles.Card.CssClass = "card";

    settings.CardLayoutProperties.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
    settings.CardLayoutProperties.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 200;



    /*
    settings.Toolbars.Add(t =>
    {
        t.ItemAlign = GridToolbarItemAlign.Justify;
        t.Items.Add(i =>
        {
            i.ItemStyle.Width = Unit.Percentage(100);
            i.SetTemplateContent(c =>
            {
                Html.DevExpress().ComboBox(s =>
                {
                    s.Name = "Sorting";
                    s.Width = 200;
                    s.Properties.Caption = "Sort by";
                    s.Properties.ValueType = typeof(HeadphoneCardsSortMode);
                    s.Properties.Items.Add("Recomended", HeadphoneCardsSortMode.Recomended);
                    s.Properties.Items.Add("Discount", HeadphoneCardsSortMode.Discount);
                    s.Properties.Items.Add("Low Price » High Price", HeadphoneCardsSortMode.LowPrice);
                    s.Properties.Items.Add("High Price » Low Price", HeadphoneCardsSortMode.HighPrice);
                    s.Properties.ClientSideEvents.ValueChanged = "OnSortingChanged";
                }).Bind(ViewBag.SortMode).Render();
            });
        });
        t.Items.Add(i =>
        {
            i.Name = "ListView";
            i.ToolTip = "Details View";
            i.GroupName = "Layout";
            i.BeginGroup = true;
            i.Checked = !ViewBag.IsCardView;
            i.Image.IconID = DevExpress.Web.ASPxThemes.IconID.GridGrid16x16;
        });
        t.Items.Add(i =>
        {
            i.Name = "CardView";
            i.ToolTip = "Thumbnails View";
            i.GroupName = "Layout";
            i.Checked = ViewBag.IsCardView;
            i.Image.IconID = DevExpress.Web.ASPxThemes.IconID.GridCards16x16;
        });
    });
    */

    //*********
    //settings.Columns.Add("PhotoUrl", MVCxCardViewColumnType.Image);
    //settings.Columns.Add("Brand");
    //settings.Columns.Add("Price", "Old price").PropertiesEdit.DisplayFormatString = "c";
    //settings.Columns.Add("Discount").PropertiesEdit.DisplayFormatString = "{0}%";
    //*********


    /*
    settings.Columns.Add(c =>
    {
        c.FieldName = "Total";
        c.Caption = "New price";
        //c.UnboundType = UnboundColumnType.Decimal;
        c.UnboundExpression = "[Price]- [Price] * [Discount] / 100";
        c.PropertiesEdit.DisplayFormatString = "c";
    });
    */


    //*********
    //settings.Columns.Add("Sensitivity", "Sensitivity, dB");
    //settings.Columns.Add("Power", "Power, MW");
    //settings.Columns.Add("MinFrequency", "Min Frequency, Hz");
    //settings.Columns.Add("MaxFrequency", "Max Frequency, Hz");
    //settings.Columns.Add("Impedance", "Impendance, ohms");
    //settings.Columns.Add("Fit");
    //*********

    //settings.CardLayoutProperties.Items.Add(i =>
    //{
    //    i.ColumnName = "PhotoUrl";
    //    i.ShowCaption = DefaultBoolean.False;
    //    i.HorizontalAlign = FormLayoutHorizontalAlign.Center;
    //});
    //settings.CardLayoutProperties.Items.AddGroupItem(g =>
    //{
    //    g.Name = "Common";
    //    g.Caption = "Common";
    //    g.ShowCaption = ViewBag.IsCardView ? DefaultBoolean.False : DefaultBoolean.True;
    //    g.GroupBoxDecoration = ViewBag.IsCardView ? GroupBoxDecoration.None : GroupBoxDecoration.HeadingLine;
    //    g.Items.Add("Brand");
    //    g.Items.Add("Fit");
    //    g.Items.Add("Price");
    //    g.Items.Add("Discount");
    //    //g.Items.Add("Total");
    //});
    //settings.CardLayoutProperties.Items.AddGroupItem(g =>
    //{
    //    g.Name = "Specifications";
    //    g.Visible = !ViewBag.IsCardView;
    //    g.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
    //    g.Caption = "Specifications";
    //    g.Items.Add("Sensitivity");
    //    g.Items.Add("Power");
    //    g.Items.Add("MinFrequency");
    //    g.Items.Add("MaxFrequency");
    //    g.Items.Add("Impedance");
    //});



    settings.SetCardTemplateContent(c =>
    {

        ViewContext.Writer.Write(
            "<div class='row' >" +
              "<div class='col-xs-4 col-sm-4 " + (ViewBag.IsCardView == false ? "col-md-2 divImageListView" : "divImageCardView") + "'>");


        Html.DevExpress().Image(s =>
        {
            s.Name = "Image" + DataBinder.Eval(c.DataItem, "Id");
            s.Height = 145; //ViewBag.IsCardView == false ? 130 : 150;
                            //s.ControlStyle.CssClass = "align-middle";
            s.ImageUrl = "http://admin.dekkonline.sonetworks.no/" + DataBinder.Eval(c.DataItem, "Image").ToString();
            //}).Bind(DataBinder.Eval(c.DataItem, "Image"))
        }).Render();


        ViewContext.Writer.Write(
        "</div>" +

        "<div class='col-xs-8 col-sm-8 " + (ViewBag.IsCardView == false ? "col-md-6'" : "'") + " style='background-color:yellow; padding-left:0px; padding-right:0px'>" +

            "<div class='col-xs-3 col-sm-3 col-md-3'  style='height:70px; background-color:#fff;padding-top:25px; text-align:left '>" +
                "<img src='" + Url.Content((string)DataBinder.Eval(c.DataItem, "CategoryImage")) + "' style='width:45px' >" +
            "</div>" + //Imagen de Categoria

             "<div class='col-xs-9 col-sm-9 col-md-9'  style='height:70px; background-color:#fff'><p><br/></p>" +
             "</div>" +


         "<div class='row' style='width:100%;'>" +
              "<div  class='col-xs-11 col-sm-12 " + (ViewBag.IsCardView == false ? "col-md-12'" : "'") + " style='height:45px; background-color:#fff; margin-left:15px; text-align:left;'>" +
              "<p style='font-size:28px'>" + DataBinder.Eval(c.DataItem, "Name") + "</p>" +
              "</div>" + //Descripcion
         "</div>" +


         "<div class='row' style='width:100%;'>" +
              "<div  class='col-xs-11 col-sm-12 " + (ViewBag.IsCardView == false ? "col-md-12'" : "'") + " style='height:70px; background-color:#fff; margin-left:15px; text-align:left; '>" +
                "<p style='font-size:16px'> <span>" + DataBinder.Eval(c.DataItem, "Width") + "</span> <span>/</span> <span>" + DataBinder.Eval(c.DataItem, "Profile") + "</span> <span>" + DataBinder.Eval(c.DataItem, "Diameter") + "</span> " +
                 (ViewBag.IsCardView == true ? "<p></p>" : "&emsp;&emsp;") +
                "<span><img src='" + Url.Content("~/Content/imgs/tyreFuel.png") + "' style='width:20px'></span> <span class='badge badge-pill badge-default' style='color:#000; background-color:#fff; border:1px solid grey; min-width:30px;'>" + DataBinder.Eval(c.DataItem, "Fuel") + "</span>&emsp;" +
                    "<span><img src='" + Url.Content("~/Content/imgs/tyreNoise.png") + "' style='width:20px'></span> <span class='badge badge-pill badge-default' style='color:#000; background-color:#fff; border:1px solid grey; min-width:30px;'>" + DataBinder.Eval(c.DataItem, "Wet") + "</span>&emsp;" +
                    "<span><img src='" + Url.Content("~/Content/imgs/tyreWet.png") + "' style='width:20px'></span> <span class='badge badge-pill badge-default' style='color:#000; background-color:#fff; border:1px solid grey; min-width:30px;'>" + DataBinder.Eval(c.DataItem, "Noise") + "</span>" +
                 "<p>" +
              "</div>" + //Medidas
         "</div>" +

             "</div>" +


             "<div  class='col-xs-11 col-sm-12 " + (ViewBag.IsCardView == false ? "col-md-4'" : "'") + " style='background-color:#fff;" + (ViewBag.IsCardView == true ? "border-top:1px solid gray;'" : "'") + ">" +

                "<div class='col-xs-8 col-sm-8 col-md-8'  style='height:60px; background-color:#fff; padding-top:16px; border-bottom:1px solid gray;" + (ViewBag.IsCardView == false ? "border-left:1px solid gray;'" : "'") + ">" +
                    "<p style='color:#000; font-size:20px; font-weight:bold'>" + DataBinder.Eval(c.DataItem, "Price") + " Kr</p>" +
                "</div>" + //Precio

                "<div class='col-xs-4 col-sm-4 col-md-4'  style='height:60px; background-color:#fff; padding-top:12px; border-bottom:1px solid gray;'>" +
                    "<p style='color:blue; font-size:12px; '>In stock (" + DataBinder.Eval(c.DataItem, "Stock") + ")</p>" +
                "</div>" + //stock


            "<div class='row' style='width:100%;'>" +
                "<div  class='col-xs-11 col-sm-12 " + (ViewBag.IsCardView == false ? "col-md-12'" : "'") + " style='height:50px; background-color:#fff; margin-left:15px; padding-top:10px; gray; border-bottom:1px solid gray;" + (ViewBag.IsCardView == false ? "border-left:1px solid gray;'" : "'") + ">" +
                    "<p style='color:gray; font-size:20px; font-weight:bold'>" + DataBinder.Eval(c.DataItem, "Brand") + "</p>" +
                "</div>" + //Marca
            "</div>" +


            "<div class='row' style='width:100%;'>" +
                "<div class='col-xs-11 col-sm-12 " + (ViewBag.IsCardView == false ? "col-md-12'" : "'") + " style='height:45px; padding-top:3px; text-align:center; background-color:#fff; margin-left:15px; border-bottom:1px solid gray;" + (ViewBag.IsCardView == false ? "border-left:1px solid gray;'" : "'") + ">" +
                    "<span class='fa fa-star checked'></span>" +
                    "<span class='fa fa-star checked'></span>" +
                    "<span class='fa fa-star checked'></span>" +
                    "<span class='fa fa-star'></span>" +
                    "<span class='fa fa-star'></span>" +
                "</div>" + //Ratings
            "</div>" +


                "<div class='col-xs-11 col-sm-12 " + (ViewBag.IsCardView == false ? "col-md-12'" : "'") + " style='height:75px; padding-top:7px; background-color:#fff;" + (ViewBag.IsCardView == false ? "border-left:1px solid gray;'" : "'") + ">" +
                    "<p style='font-size:12px; text-align:left;' >Add to cart:</p>" +
                     "<p style='margin-top:-3px; text-align:left;'>" +
                        "<select style='width:20%; height:30px; text-align:center;' ><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select>" +
                        "<button style='width:40%; height:30px;' onclick='JavaScript:AddToCart(this, " + (int)DataBinder.Eval(c.DataItem, "Id") + "," + "\"" + (string)DataBinder.Eval(c.DataItem, "Name") + "\"" + ");' >keep shopping</button>" +
                        "<button style='width:40%; height:30px;' onclick='JavaScript:ShoppingCart(this, " + (int)DataBinder.Eval(c.DataItem, "Id") + "," + "\"" + (string)DataBinder.Eval(c.DataItem, "Name") + "\"" + ");' >go to checkout</button>" +
                       
                    "</p>" +
                "</div>" + //Agregar



            "</div>" +


        "</div>"
                                );


    });




    /*
    settings.BeforeGetCallbackResult = (s, e) =>
    {
        var cards = (MVCxCardView)s;
        cards.ClearSort();
        switch ((HeadphoneCardsSortMode)ViewBag.SortMode)
        {
            case HeadphoneCardsSortMode.Discount:
                cards.SortBy(cards.Columns["Discount"], ColumnSortOrder.Descending);
                break;
            case HeadphoneCardsSortMode.LowPrice:
                cards.SortBy(cards.Columns["Price"], ColumnSortOrder.Ascending);
                break;
            case HeadphoneCardsSortMode.HighPrice:
                cards.SortBy(cards.Columns["Price"], ColumnSortOrder.Descending);
                break;
            default:
                cards.SortBy(cards.Columns["MaxFrequency"], ColumnSortOrder.Descending);
                cards.SortBy(cards.Columns["MinFrequency"], ColumnSortOrder.Ascending);
                cards.SortBy(cards.Columns["Discount"], ColumnSortOrder.Descending);
                break;
        }
    };
    */

    //settings.ClientSideEvents.ToolbarItemClick = "OnToolbarItemClick";
    settings.ClientSideEvents.BeginCallback = "OnHeadphoneCardsBeginCallback";


    settings.Settings.LayoutMode = DevExpress.Web.Layout.Flow;
    settings.Settings.VerticalScrollBarMode = ScrollBarMode.Hidden;
    settings.Styles.FlowCard.Width = ViewBag.IsCardView == false? Unit.Percentage(98.3) : Unit.Percentage(47);
    settings.Styles.FlowCard.Height =  ViewBag.IsCardView == false? 230: 420;
    //settings.Styles.FlowCard.CssClass = "FlowCard";

}).Bind(Model).GetHtml()







