################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pruebas/obj/Debug
/Entity/obj/Debug
/packages
/.vs/DekkOnline/v15
