.dimension {
    margin-left: -70px;
}

.linkEdit {
    cursor: pointer;
}
.vl {
    width:10px;
    border-left: 2px solid #ABB2B9;
    height: 350px;
}
.vl2 {
    width:10px;
    border-left: 2px solid #ABB2B9;
    height: 285px;
}
.vl3 {
    width:10px;
    border-left: 2px solid #ABB2B9;
    height: 170px;
}

.vl5 {
    width:10px;
    border-left: 2px solid #ABB2B9;
    height: 200px;
}

.lineaVertical {
    border-right: 1px solid #ABB2B9;
}

.textoAzul{
    font-size:18px;
    color:#1A5276;
}

.textoAzul2{
    font-size:20px;
    color:#1A5276;
}

.textoGris{
    font-size:18px;
    color:#797D7F;
}


.left1 {
    float: left;
}

.left2 {
    text-align: left;
    color: #635b5b;
    font-size: 16px;
    width:400px;
}

.rowLeft1{
    margin-left:80px;
}

.rowLeft2{
    margin-left:80px; 
    margin-top:20px;
}

.rowLeft3{
    margin-left:80px; 
    margin-top:30px;
}

.rowLeft4{
    margin-left:130px;
    margin-top:30px;
}

.rowLeft5{
   margin-left:100px; 
   margin-top:20px;
}

.rowLeft6{
    margin-left:100px; 
    margin-top:20px; 
    margin-bottom:40px;
}
.rowLeft6-1{
    font-size:18px;
}
.sizeText{
    font-size:22px;
    color: #424949;
}

.margintop{
    margin-top:0px; 
}
.leftaddress{   
    margin-left:-26px;
}

.leftmovil{   
    margin-left:-38px;
}

.labelmargin{
    margin-top:10px;
    margin-bottom:10px;
}

.sizeDesc{
    font-size:24px;
    color: #1A5276;
}

.colorGris {
    color: #393e44;
    margin-top: 0px;
}

.perfilInfo {
    color: #0b5da1;
    font-size: 16px;
}

.perfilInfo2 {
    font-size: 16px;
}

.colorTitle {
    color: #363434;
}

.infoPerfilrespons {
    margin-top: 0px;
    margin-left: 0px;
}
.ocultarYourcard{
    display:initial;
}

.personInformation {
    color: #d51d1d;
    font-size: 23px;
}

.marginInformation {
    margin-top: 10px;
    width: 300px;
}

.movilPerfil {
    margin-left: 35px;
    margin-top: 10px;
    display:initial;
}

.titlePending {
    margin-top: 20px;
    margin-left: 0px;
}

.numerOrder {
    margin-top: 0px;
    margin-left: 0px;
}

.marginTotal {
    margin-top: -10px;
    margin-left: 0px;
}

.responsImageLLanta {
    width: 75px;
    height: 90px;
    margin-left: 0px;
}

.marginTextInfo{
    margin-left: 0px;
}

.borderProduct {
    border-bottom: 1px solid #7F8C8D;
}

.lineHorizontal {
    display: none;
}

.marginPast {
    margin-top: -7px;
    margin-left: 0px;
}

.marginPromos {
    margin-left: 0px;
    font-size: 18px;
}

.margginCard1{
    margin-left:0px;
}

.marginleftInfo {
    margin-left: -10px;
}

@media screen and (max-width: 768px) {
    .dimension {
        margin-left: -40px;
    }
    .vl {

        display:none;
    }
    .vl2 {

        display:none;
    }
    .iz {
        margin-left:30px;
        margin-top:30px;
    }
    .iz2 {
        margin-left:30px;
        margin-bottom:30px;
        margin-top:-30px;
    }
    .vl3 {
        display:none;
    }
    .vl4 {
        width:100px;
        border-top: 2px solid #ABB2B9;
    }
    .vl5 {
        display:none;
    }

    .rowLeft1{
        margin-left:0px;
    }

    .rowLeft2{
        margin-left:0px; 
        margin-top:0px;
    }

    .rowLeft3{
        margin-left:0px; 
        margin-top:0px;
    }

    .rowLeft4{
        margin-left:0px;
        margin-top:0px;
        margin-top:20px;
    }

    .rowLeft5{
       margin-left:0px; 
       margin-top:0px;
    }

    .rowLeft6{
        margin-left:0px; 
        margin-top:10px; 
        margin-bottom:20px;
    }
    .rowLeft6-1{
        font-size:15px;
    }

    .sizeText{
        font-size:20px;
        color: #424949;
    }

    .margintop{
        margin-top:20px; 
    }

    .leftaddress{   
        margin-left:0px;
    }

    .leftmovil{   
        margin-left:0px;
    }

    .labelmargin{
        margin-top:15px;
        margin-bottom:15px;
    }

    .sizeDesc{
        font-size:18px;
        color: #1A5276;
    }

    .infoPerfilrespons {
        margin-top: 10px;
        margin-left: 26px;
    }

    .ocultarYourcard {
        display: none;
    }

    .perfilInfo {
        color: #0b5da1;
        font-size: 13px;
    }

    .perfilInfo2 {
        font-size: 13px;
    }

    .personInformation {
        color: #d51d1d;
        font-size: 18px;
    }

    .marginInformation {
        margin-top: -45px;
        width: 0px;
    }

    .movilPerfil {
        margin-left: 0px;
        margin-top: 0px;
        display: none;
    }

    .titlePending {
        margin-top: 0px;
        margin-left:20px;
    }

    .numerOrder {
        margin-top: -10px;
        margin-left: 20px;
    }

    .marginTotal {
        margin-top: 10px;
        margin-left: 20px;
    }

    .responsImageLLanta {
        width: 75px;
        height: 90px;
        margin-left: 4px;
    }

    .marginTextInfo {
        margin-left: 25px;
        margin-top:-55px;
    }

    .borderProduct {
        border-bottom: 0px solid #7F8C8D;
    }

    .lineHorizontal {
        display:initial;
    }

    .marginPast {
        margin-top: 10px;
        margin-left: 20px;
    }

    .marginPromos {
        margin-left: 10px;
        font-size:14px;
    }

    .margginCard1 {
        margin-left: 15px;
    }

    .marginleftInfo {
        margin-left: 20px;
    }

    .movertextoleft{
        margin-left:30px;
    }

    .margintopperonalinfo {
        margin-top: -55px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

    .marginPromos {
        margin-left: 70px;
        font-size: 16px;
    }

    .margginCard1 {
        margin-left: 35px;
    }

    .leftTablet {
        margin-left: 50px;
    }

    .marginInformation {
        margin-top: 20px;
        width:300px;
    }

    .marginTextInfo {
        margin-left: 0px;
        margin-top: 0px;
    }

    .margintopperonalinfo {
        margin-top: 0px;
    }

    .vl2 {
        display: none;
    }

}

@media screen and (max-width:1200px) {

    .movilPerfil {
        margin-left: 0px;
        margin-top: 0px;
        display: none;
    }

    .infoPerfilrespons {
        margin-top: 10px;
        margin-left: 40px;
    }

    .marginInformation {
        margin-top: 20px;
        width: 300px;
    }

    .marginTextInfo {
        margin-left: 0px;
        margin-top: 0px;
    }

    .vl2 {
        display: none;
    }

}

body {
    padding: 10px;
}

#StaffList {
    height: 350px;
    m argin-bottom: 10px;
}

#PresenterList,
#ContactList,
#FacilitatorList {
    height: 95px;
    margin-bottom: 10px;
}

.style-select select {
    padding: 0;
}

    .style-select select option {
        padding: 4px 10px 4px 10px;
    }

        .style-select select option:hover {
            background: #EEEEEE;
        }

.add-btns {
    padding: 0;
}

    .add-btns input {
        margin-top: 25px;
        width: 100%;
    }

.selected-left {
    float: left;
    width: 88%;
}

.selected-right {
    float: left;
}

    .selected-right button {
        display: block;
        margin-left: 4px;
        margin-bottom: 2px;
    }

@media (max-width: 517px) {
    .selected-right button {
        display: inline;
        margin-bottom: 5px;
    }
}

.subject-info-box-1,
.subject-info-box-2 {
    float: left;
    width: 45%;
}

    .subject-info-box-1 select,
    .subject-info-box-2 select {
        height: 200px;
        padding: 0;
    }

        .subject-info-box-1 select option,
        .subject-info-box-2 select option {
            padding: 4px 10px 4px 10px;
        }

            .subject-info-box-1 select option:hover,
            .subject-info-box-2 select option:hover {
                background: #EEEEEE;
            }

.subject-info-arrows {
    float: left;
    width: 10%;
}

    .subject-info-arrows input {
        width: 70%;
        margin-bottom: 5px;
    }

.selector_cat {
    overflow-x: auto;
    overflow-y: auto;
}