<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DekkOnline2.engine2.Properties.Settings.DefaultConnection"
            connectionString="Data Source=91.207.159.138,4171;Initial Catalog=dekkOnline;Persist Security Info=True;User ID=dekk"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>