@using System.Web.Optimization;
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Styles/Shoppingcart.css?V=4")
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row" style="border-bottom:1px solid #ddd">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%" >Item</th>
                    <th style="width:8%">QTY</th>
                    <th style="width:10%" >Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-th="Item">
                        <div class="row">
                            <div class="col-sm-1 downico" style="margin-top:40px" ><a style="cursor:pointer;"><span class="glyphicon glyphicon-remove"></span></a></div>
                            <div class="col-sm-2">
                                <img src="~/Content/imgs/camarita-01.png"  alt="..." style="height:85px;width:85px;" class="img-responsive" />
                            </div>
                            <div class="col-sm-8">
                                <h4 class="nomargin"><strong style="color:red">Continental EcoContact 5 185/65 R15 88T</strong></h4>
                                <div class="deschide"><p>Continental - Engineered in Germany, Continental offers premium tyres with optimum braking performance and safety.</p></div>
                            </div>
                        </div>
                    </td>
                    <td data-th="QTY" >
                        <input type="number" class="form-control text-center inputqtywid" value="1">
                    </td>
                    <td data-th="Price"><strong>$1.99</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-lg-4"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-5" style="width:400px;">
            <form class="form-horizontal" role="form" style="margin-right: -570px;">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group" style="margin-bottom:10px;">
                        <label class="col-md-5 col-xs-2 control-label">SUBTOTAL:</label>
                        <div class="col-md-7 col-xs-2 margininput">
                            <label style="margin-top:5px"><strong>$1.99</strong></label>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:10px;">
                        <label class="col-md-5 col-xs-2 control-label">TAX:</label>
                        <div class="col-md-3 col-xs-2 margininput">
                             <label style="margin-top:5px"><strong>___________</strong></label>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom:10px;">
                        <label class="col-md-5 col-xs-2 control-label">PROMO CODE:</label>
                        <div class="col-md-4 col-xs-2 margininput">
                            <input type="text" class="form-control" id="promocode" />
                        </div>
                        <div class="col-md-3 col-xs-2"> <label class="" style="margin-top:7px;color:blue;"><a style="cursor:pointer;">APPLY</a></label></div>
                    </div>

                    <div class="form-group" style="border-bottom:1px solid #ddd">
                        <label class="col-md-5 col-xs-2 control-label">Use your Points:</label>
                        <div class="col-md-3 col-xs-2 margininput">
                            <input type="text" class="form-control margintextpoints" id="promopoints" style="margin-bottom:5px">
                        </div>
                        <div class="col-md-4" style="margin-left:-25px;">
                            <label class="marginlabelpoints" style="margin-top:7px">dekk points <a style="cursor:pointer">APPLY</a></label>
                        </div>
                       

                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-2 control-label">TOTAL:</label>
                        <div class="col-md-7 col-xs-2 margininput">
                            <label style="margin-top:5px"><strong>$1.99</strong></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-5 col-xs-2 control-label"><a style="cursor:pointer">KEEP SHOPPING</a></label>
                        <div class="col-md-7 col-xs-3 margininput">
                            <input type="button" class="btn btn-secundary form-control" id="inputEmail" value="Continue to Checkout">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>

</div>