<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <style>
        .titulollanta {
            
        }
    </style>

</head>
<body>

    <div class="content" style="font-family:Arial;margin-bottom:50px;">
        <div class="row">
            <div class="col-lg-12" style="text-align:center;">
                <h3 class="sizeText"> YOU ARE SET TO GO <strong>{NOMBRE}</strong></h3>
            </div>
        </div>
        <div class="row rowLeft1">
            <div class="col-lg-12">
                <h4 class="textGris"> You will recieve an e-mail with a summary of the information you provided. Or you can print now.</h4>
                <h4 class="labelmargin textGris"> your order confirmation number: <span class="textAm">{NUMORDEN}</span></h4>
                <h4 class="labelmargin textGris"> You can also revise your purchase and appointment status anytime in the my page section in <a><span class="textAm">dekkonline.no</span></a></h4>
            </div>
        </div>

        <!--PRODUCTOS-->
        <div class="row rowLeft2">

            {PRODUCTS}

        </div>
        <br /><br />
        <!--PRODUCTOS-->
        <div class="row rowLeft2">

            {SERVICES}

        </div>
        <br /><br />
        <div class="row rowLeft3">
            <div class="col-lg-7 margintop">
                <div class="row"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <!--SI EL Model.WorkshopName ES DIFERENTE A NULL-->
                        <div class="row">
                            <table>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label style="color:#1A5276;"><strong>zip code:</strong></label>
                                            <label style="color:#797D7F;">{ZIPCODE}</label>
                                        </div>
                                        <div class="form-group">
                                            <label style="color:#1A5276;"><strong>First name:</strong></label>
                                            <label style="color:#797D7F;">{FIRSTNAME}</label>
                                        </div>
                                        <div class="form-group">
                                            <label style="color:#1A5276;"><strong>Last name:</strong></label>
                                            <label style="color:#797D7F;">{LASTNAME}</label>
                                        </div>
                                        <div class="form-group">
                                            <label style="color:#1A5276;"><strong>Address:</strong></label>
                                            <label style="color:#797D7F;">{ADDRESS}</label>
                                        </div>
                                        <div class="form-group">
                                            <label style="color:#1A5276;"><strong>Email:</strong></label>
                                            <label style="color:#797D7F;">{EMAIL}</label>
                                        </div>
                                        <div class="form-group">
                                            <label style="color:#1A5276;"><strong>Mobile</strong></label>
                                            <label style="color:#797D7F;">{MOBIL}</label>
                                        </div>
                                    </td>
                                    <td style="width:100px;"></td>
                                    <td style="width:150px;"><img src="http://dekkonline.sonetworks.no/{IMAGE}" style="width:110px; height:105px;" /></td>
                                    <td style="width:250px;">
                                        <h4 style="color: #2471A3;"><strong>{WORKSHOPNAME}</strong></h4>
                                        <p style="color:#333;">{WORKSHOPADDRESS}</p>
                                    </td>
                                    <td></td>
                                </tr>

                            </table>
                            <br />
                            <table>
                                <tr>
                                    <td style="width:320px;"></td>
                                    <td>
                                        <label style="color:#1A5276;"><strong> Date:</strong><span style="color:#797D7F;"> {DATE}</span></label><br /><br />
                                        <label style="color:#1A5276;"><strong>Time:</strong><span style="color:#797D7F;"> {TIME}</span></label><br /><br />
                                        <label style="color:#1A5276;"><strong>Comments:</strong></label><br />
                                        <span style="color:#797D7F;">{COMMENTS}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row rowLeft4">
            <div class="col-lg-6">
                <label style="color:#C0392B; font-size: 18px;"><strong>you paid width:</strong><span class="" style="color: black; font-size: 22px;"> {TYPETARGET}</span></label><br />
                <label style="color:#1A5276;"><strong>Card Number:</strong><span style="color:#797D7F;"> xxxxxx {NUMBER}</span></label><br />
                <label style="color:#1A5276;"><strong>Expiration date:</strong><span style="color:#797D7F;"> {EXPIRE}</span></label><br />
                <label style="color:#1A5276;"><strong>Securiry Code:</strong><span style="color:#797D7F;""> xxx</span></label><br />
                <label style="color:#1A5276;"><strong>Cardholder name:</strong><span style="color:#797D7F;">{FIRSTNAME} {LASTNAME}</span></label>
            </div>
        </div>
        <div class="row rowLeft5">
            <div class="col-lg-12">
                <h4 style="color: #424949; "> You will recieve an e-mail as soon as your tires are in the workshop ready for you</h4>
            </div>
        </div>
        <div class="row rowLeft6">
            <div class="col-lg-12">
                <h4 class="rowLeft6-1" style="color: #C0392B; "><strong>THANK YO FOR USING DEKKONLINE.NO</strong></h4>
            </div>
        </div>
    </div>
</body>
</html>