@using System.Web.Optimization;
@model List<DekkOnlineMVC.Models.Headphone>

@{
    ViewBag.Title = "Products";
}


        <div class="searchWrap" style="top:-300px">
            <div class="searchContain">
                <div class="col-md-3">
                    <span class="sTitle">SIZE:</span><br />
                    <div class="floatLt dp1">
                        @*<dx:ASPxComboBox runat="server" ID="cmbWidth" ClientInstanceName="cmbWidth" CssClass="BoxGeneral" Border-BorderStyle="None" ClearButton-DisplayMode="OnHover">
                                <DropDownButton ImagePosition="Bottom">
                                    <Image Url="/Scripts/imgs/flecha_dropdown-01.png" Height="10px" Width="10px"></Image>
                                </DropDownButton>
                                <ClientSideEvents ValueChanged="loadProducts" />
                            </dx:ASPxComboBox>*@
                        <select id="cmbWidth" Class="BoxGeneral"></select>
                    </div>
                    <div class="floatLt diagonal">
                    </div>
                    <div class="floatLt dp2">
                        @*<dx:ASPxComboBox runat="server" ID="cmbProfile" ClientInstanceName="cmbProfile" CssClass="BoxGeneral" Border-BorderStyle="None" ClearButton-DisplayMode="OnHover">
                                <DropDownButton ImagePosition="Bottom">
                                    <Image Url="/Scripts/imgs/flecha_dropdown-01.png" Height="10px" Width="10px"></Image>
                                </DropDownButton>
                                <ClientSideEvents ValueChanged="loadProducts" />
                            </dx:ASPxComboBox>*@
                        <select id="cmbProfile" Class="BoxGeneral"></select>
                    </div>
                    <div class="floatLt dp3">
                        @*<dx:ASPxComboBox runat="server" ID="cmbDiameter" ClientInstanceName="cmbDiameter" CssClass="BoxGeneral" Border-BorderStyle="None" ClearButton-DisplayMode="OnHover">
                                <DropDownButton ImagePosition="Bottom">
                                    <Image Url="/Scripts/imgs/flecha_dropdown-01.png" Height="10px" Width="10px"></Image>
                                </DropDownButton>
                                <ClientSideEvents ValueChanged="loadProducts" />
                            </dx:ASPxComboBox>*@
                        <select id="cmbDiameter" Class="BoxGeneral"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <span class="sTitle">COVER TYPE:</span><br />
                    @*<dx:ASPxComboBox runat="server" ID="cmbCategory" ClientInstanceName="cmbCategory" CssClass="BoxGeneral" Border-BorderStyle="None" ClearButton-DisplayMode="OnHover">
                            <DropDownButton ImagePosition="Bottom">
                                <Image Url="/Scripts/imgs/flecha_dropdown-01.png" Height="10px" Width="10px"></Image>
                            </DropDownButton>
                            <ClientSideEvents ValueChanged="loadProducts" />
                        </dx:ASPxComboBox>*@
                    <select id="cmbCategory" Class="BoxGeneral"></select>
                </div>
                <div class="col-md-3">
                    <span class="sTitle">BRAND:</span><br />
                    @*<dx:ASPxComboBox runat="server" ID="cmbBrand" ClientInstanceName="cmbBrand" CssClass="BoxGeneral" Border-BorderStyle="None" ClearButton-DisplayMode="OnHover">
                            <DropDownButton ImagePosition="Bottom">
                                <Image Url="/Scripts/imgs/flecha_dropdown-01.png" Height="10px" Width="10px"></Image>
                            </DropDownButton>
                            <ClientSideEvents ValueChanged="loadProducts" />
                        </dx:ASPxComboBox>*@
                    <select id="cmbBrand" Class="BoxGeneral"></select>
                </div>
                <div class="col-md-3">
                    <span class="sTitle">PRICE:</span><br />
                    @*<dx:ASPxComboBox runat="server" ID="cmbPrice" ClientInstanceName="cmbPrice" CssClass="BoxGeneral" Border-BorderStyle="None">
                            <DropDownButton ImagePosition="Bottom">
                                <Image Url="/Scripts/imgs/flecha_dropdown-01.png" Height="10px" Width="10px"></Image>
                            </DropDownButton>
                            <Items>
                                <dx:ListEditItem Selected="true" Text="lowest - highest" Value="0" />
                                <dx:ListEditItem Selected="false" Text="highest - lowest" Value="1" />
                            </Items>
                            <ClientSideEvents ValueChanged="loadProducts" />
                        </dx:ASPxComboBox>*@
                    <select id="cmbPrice" Class="BoxGeneral">
                        <option value="0">lowest - highest</option>
                        <option value="1">highest - lowest</option>
                    </select>
                </div>
                <div class="clearfix"></div>
                <div class="spacer10"></div>
                <div class="clearfix"></div>

                <div id="xcpProducts" Width="100%">
                    <!--AQUI VA EL GRID-->


                    <br />
                    <br />
                    <script>

                        var cardView = true;

                        function OnToolbarItemClick(s, e){
                            e.processOnServer = true;
                        }
                        function OnSortingChanged(s, e) {
                            debugger
                            HeadphoneCards.PerformCallback();
                        }
                        function OnHeadphoneCardsBeginCallback(s, e){
                            e.customArgs["isCardView"] = this.IsCardView();
                            e.customArgs["sortMode"] = 0; //Sorting.GetValue();
                        }
                        function IsCardView() {
                            return cardView; //HeadphoneCards.GetToolbar(0).GetItemByName("CardView").GetChecked();
                        }


                        function ResiltView() {
                            if (cardView == true)
                            {
                                cardView = false;
                            }
                            else {
                                cardView = true;
                            }

                        }
                    </script>

                    @Html.Partial("ProductsPartial", Model)


                </div>

            </div>
        </div>
        <div class="clearfix"></div>





    @Scripts.Render("~/bundles/jquery")
    <script>
        function loadProducts(s, e) {
            xcpProducts.PerformCallback();
        }


        function showDetails(s, e) {

            s.GetRowValues(s.GetFocusedRowIndex(), 'Id', setDP);
        }

        function setDP(values) {

            $("#pdImage").html($("#psImage" + values).html());
            popDetails.Show();
        }


        $(document).ready(function(){

            $("#principalDiv").attr("class", "prDivSub");
            $("#mainContainDiv").attr("class", "prMainContentSub");
            

        });

    </script>

