.dimension {
    margin-left: -70px;
}

@media screen and (max-width: 768px) {
    .dimension {
        margin-left: -40px;
    }
    .vl {

        display:none;
    }
    .vl2 {

        display:none;
    }
}
.vl {
    width:10px;
    border-left: 2px solid #ABB2B9;
    height: 350px;
}
.vl2 {
    width:10px;
    border-left: 2px solid #ABB2B9;
    height: 285px;
}


.left1 {
    float: left;
}

.left2 {
    text-align: left;
    color: black;
}