@using System.Web.Optimization;
@{

    ViewBag.Title = "Step2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Styles/Dimension.css?v=5")
@Styles.Render("~/Styles/Shoppingcart.css?v=5")

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Content/step4.JPG" class="imgRespons1" />
            <img src="~/Content/step4movil.PNG" class="img-responsive imgRespons2" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="text-align:center;">
            <h3 class="sizeText"><strong> YOU ARE SET TO GO RONNY!</strong></h3>
        </div>
    </div>
    <div class="row rowLeft1">
        <div class="col-lg-12">
            <h4 class="textGris"> You will recieve an e-mail with a summary of the information you provided. Or you can print now.</h4>
            <h4 class="labelmargin textGris"> your order confirmation number: <span class="textAm">183746209HJK</span></h4>
            <h4 class="labelmargin textGris"> You can also revise your purchase and appointment status anytime in the my page section in <a><span class="textAm">dekkonline.no</span></a></h4>
        </div>
    </div>
    <div class="row rowLeft2">
        <div class="col-lg-12">
            <div class="col-lg-1 col-xs-4">
                <img src="~/Content/llanta.png" style="width:100px;" />
            </div>
            <div class="col-lg-4 col-xs-6" style="margin-left:15px;">
                <h3 class="sizeDesc"><strong> Continental EcoContact 5 185/65 R15 88T</strong></h3>
                <h3><strong>$286.00</strong></h3>
            </div>
        </div>       
    </div>
    <div class="row rowLeft3">
        <div class="col-lg-5" style="margin-top:15px;">
            <label class="personal"><strong>Personal Information</strong></label>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="zipcode" class="col-lg-3 control-label textoAzul">zip code</label>
                    <label for="zipcode" class="col-lg-1 control-label textoGris">77084</label>
                </div>
                <div class="form-group">
                    <label for="Firstname" class="col-lg-3 control-label textoAzul">First name</label>
                    <label for="zipcode" class="col-lg-1 control-label textoGris">Ronny</label>
                </div>
                <div class="form-group">
                    <label for="Lastname" class="col-lg-3 control-label textoAzul">Last name</label>
                    <label for="zipcode" class="col-lg-1 control-label textoGris">Kvist</label>
                </div>
                <div class="form-group">
                    <label for="address" class="col-lg-3 control-label textoAzul">Address</label>
                    <label for="zipcode" class="col-lg-7 leftaddress control-label textoGris">Plaza los geranios Av. Diana 406,  Local 1 Col. Delicias, Cuernavaca</label>
                </div>
                <div class="form-group">
                    <label for="email" class="col-lg-3 control-label textoAzul">Email</label>
                    <label for="zipcode" class="col-lg-1 control-label textoGris">Rony@sonetworks.no</label>
                </div>
                <div class="form-group">
                    <label for="mobile" class="col-lg-3 control-label textoAzul">Mobile</label>
                    <label for="zipcode" class="col-lg-4 control-label textoGris leftmovil">281-861-8456</label>
                </div>
            </form>
        </div>
        <div class="col-lg-7 margintop">
            <div class="row"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="~/Content/t1.jpg" style="width:110px; height:105px;" />
                        </div>
                        <div class="col-lg-5">
                            <h4 style="color: #2471A3; "><strong>Big Motors Shop</strong></h4>
                            <p>Plaza los geranios Av. Diana 406, Local 1 Col Delicias, Cuernavaca</p>
                            <h5 style="color: #909497;">Ratings: <img src="~/Content/estrellas.png" style="width:80px;" /></h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-lg-8">
                            <label for="zipcode" class="textoAzul">Date:<span class="textoGris"> Monday, march 1st</span></label><br />
                            <label for="zipcode" class="textoAzul">Time:<span class="textoGris"> 11:00 am</span></label><br />
                            <label for="zipcode" class="textoAzul">Comments:</label><br />
                            <span class="textoGris"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ante velit faucibus eu valputate at, elementum eu enim</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row rowLeft4">
        <div class="col-lg-6">
            <label class="textPersonal"><strong>you paid width:</strong><span class="" style="color: black; font-size: 22px;"> Visa</span></label><br />
            <label class="textoAzul">Card Number:<span class="textoGris"> xxxxxx6789</span></label><br />
            <label class="textoAzul">Expiration date:<span class="textoGris"> 11/20</span></label><br />
            <label class="textoAzul">Securiry Code:<span class="textoGris"> xxxx</span></label><br />
            <label class="textoAzul">Cardholder name:<span class="textoGris"> Ronnny Kvist</span></label>
        </div>
    </div>
    <div class="row rowLeft5">
        <div class="col-lg-12">
            <h4 style="color: #424949; "> You will recieve an e-mail as soon as your tires are in the workshop ready for you</h4>
        </div>
    </div>
    <div class="row rowLeft6">
        <div class="col-lg-12">
            <h4 class="rowLeft6-1" style="color: #C0392B; "><strong>THANK YO FOR USING DEKKONLINE.NO</strong></h4>
        </div>
    </div>
</div>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/scripts/app.js")

<script>
    $(document).ready(function () {
        $("#principalDiv").attr("class", "prDivSub");
        $("#mainContainDiv").attr("class", "prMainContentSub");
    });
</script>